:root {
    --brand-color: rgb(139, 100, 175);
    --background-color:rgb(204, 183, 223);
    --secondary-color: rgb(166, 127, 202);
    --head-font: 'Playfair Display', serif;
    --body-font: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    font-family: var(--body-font);
    font-size: 16px;
}

.title {
    font-family: var(--head-font);
    font-size: 40px;
}

.features {
    margin-left: 20px;
}

.container {
    margin: 10px auto;
    max-width: 65%;
    background-color: #fff;
    border:1px solid var(--brand-color);
    border-radius: 10px;
    padding: 20px;
}

.content h2, .project-name {
    font-size: 18px;
    font-weight: 700;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "yogurt weather" 
    "dictionary translation";
    gap: 8px;
    text-align: center;
}

#yogurt {
    grid-area: yogurt;
}
#weather {
    grid-area: weather;
}
#dictionary {
    grid-area: dictionary;
}
#translation {
    grid-area: translation;
}

.block {
    text-align: center;
}

.accounts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.btn-brand {
    display: block;
    background-color: var(--secondary-color);
    color:#fff;
    border: 1px solid var(--brand-color);
}

.img-deco {
    margin: 10px auto;
}

.portrait {
    display: block;
    margin: 15px auto;
}


@media (max-width: 768px) {
    .container {
        margin: 10px auto;
        max-width: 95%;
    }
    .btn-brand {
        font-size: 14px;
        padding: 3px;
    }
    .container a {
        text-align: center;
        margin: 0 auto;
    }
    .projects{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr .5fr .5fr .5fr;
        grid-template-areas: 
        "yogurt"
        "weather"
        "dictionary"
        "translation";
    }

}

@media (max-width: 568px) {
    .title {
        font-size: 24px;
    }
    h2 {
        font-size: 18px;
    }

    .btn-brand {
        font-size: 12px;
        padding: 2px;
    }

    .container a {
        text-align: center;
        margin: 0 auto;
    }
}