:root {
    --brand-color: rgb(139, 100, 175);
    --background-color:rgb(204, 183, 223);
    --backlight: rgba(215, 206, 223, 0.8);
    --secondary-color: rgb(166, 127, 202);
    --head-font: 'Playfair Display', serif;
    --body-font: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    font-family: var(--body-font);
    font-size: 16px;
}

.title {
    font-family: var(--head-font);
    font-size: 40px;
}

.features {
    margin-left: 20px;
}

.container {
    margin: 10px auto;
    max-width: 65%;
    background-color: #fff;
    border:1px solid var(--brand-color);
    border-radius: 10px;
    padding: 20px;
}

.nav {
    justify-content: space-between;
}

.logo {
    max-width: 150px;
}

ul.menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu li {
    list-style: none;
    margin-right: 10px;
}

.menu a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.685);
    font-weight: 600;
    transition: all .3s ease-in-out;
}

.menu a:hover, .menu li.active a{
    color: var(--brand-color);
}

.content h2, .project-name {
    font-size: 18px;
    font-weight: 700;
}

.icons {
    display: flex;
    max-width: 240px;
    margin: 10px auto;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.icons a {
    background-color: var(--brand-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--brand-color);
    color: #fff;
    transition: all .3s ease-in-out;
}

.icons i:hover, .icons a:hover {
    color: var(--brand-color);
    background-color: #fff;

}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "yogurt weather" 
    "dictionary translation";
    gap: 8px;
    text-align: center;
}

#yogurt {
    grid-area: yogurt;
}
#weather {
    grid-area: weather;
}
#dictionary {
    grid-area: dictionary;
}
#translation {
    grid-area: translation;
}

.block {
    text-align: center;
}

.accounts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.btn-brand {
    display: block;
    background-color: var(--secondary-color);
    color:#fff;
    border: 1px solid var(--brand-color);
}

.img-deco {
    margin: 10px auto;
}

.portrait {
    display: block;
    margin: 15px auto;
}

footer a {
    display: block;
    text-align: center;
    color: rgba(22, 20, 20, 0.952);
    text-decoration: none;
}

footer a:hover {
    color: var(--brand-color);
}



@media (max-width: 768px) {
    .container {
        margin: 10px auto;
        max-width: 95%;
    }
    .small-logo {
        max-width: 50px;
    }
    .menu {
        font-size: 14px;
    }
    .btn-brand {
        font-size: 14px;
        padding: 3px;
    }
    .container a {
        text-align: center;
        margin: 0 auto;
    }
    .projects{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr .5fr .5fr .5fr;
        grid-template-areas: 
        "yogurt"
        "weather"
        "dictionary"
        "translation";
    }
    .icons {
        max-width: 200px;
        margin: 10px auto;
        font-size: 18px;

    }
}

@media (max-width: 568px) {
    .title {
        font-size: 24px;
    }
    h2 {
        font-size: 18px;
    }

    .logo {
        max-width: 80px;
    }

    .menu li {
        margin-right: 6px;
    }

    .btn-brand {
        font-size: 12px;
        padding: 2px;
    }

    .container a {
        text-align: center;
        margin: 0 auto;
    }
    .accounts {
        display: flex;
        flex-direction: column;
    }

}