:root {
    --brand-color: rgb(121, 88, 152);
    --secondary-color: rgb(182, 143, 219);
    --head-font: 'Playfair Display', serif;
    --body-font: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(182, 143, 219);
    font-family: var(--body-font);
    font-size: 16px;
}

.title {
    font-family: var(--head-font);
    font-size: 40px;
}

.features {
    margin-left: 20px;
}

.container {
    margin: 10px auto;
    max-width: 65%;
    background-color: #fff;
    border:1px solid var(--brand-color);
    border-radius: 10px;
    padding: 20px;
}

.block {
    text-align: center;
}

.btn-brand {
    display: block;
    background-color: var(--secondary-color);
    color:#fff;
    border: 1px solid var(--brand-color);
}

.img-deco {
    height: 300px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .container {
        margin: 10px auto;
        max-width: 95%;
    }
    .btn-brand {
        text-align: center;
        font-size: 14px;
        padding: 3px;
    }
}

@media (max-width: 568px) {
    .title {
        font-size: 24px;
    }
    h2 {
        font-size: 18px;
    }

    .btn-brand {
        text-align: center;
        font-size: 12px;
        padding: 2px;
    }

}